<div class= "answer-box">

<h1>Stupid Coaching</h1>

    <div class="ask-card">
    <%= @question %>
    <p>-You</p>
    </div>

<div class="card">

<%# <div class="coach-card"> %>
    <%= @answer %>
    <p>-Coaches Answer</p>
<%# </div> %>
    <% if params[:question].downcase == "i am going to work right now" %>
        <p><% "Empty test test test There should be notttttthing here" %></p>
    <% elsif params[:question].end_with?("?") %>
        <p><%= "Silly question, get dressed and go to work!"%></p>
    <% else %>
        <p><%= "I don't care, get dressed and go to work!" %></p>
    <% end %>
    
    
</div>

<div>
    <a href=""><%= link_to "Another Question?", ask_path %></a>
</div>

</div>